
body {
    background-color: #21252b;
    color: #ddd;
    font-family: 'Open Sans', sans-serif;
}

nav.navbar-doc {
    border-radius: 1px;
    border-color: #21252b;
    background-color: #21252b;
    color: #ddd;
    z-index: 999;
    width: 100%;
    left: 0px;
    /* box-shadow: 0px 0px 25px #ddd; */
}

.nav.navbar-nav.navbar-right a {
    letter-spacing: 2px;
    font-size: 12px;
    border: none;
    color: #ddd;
    font-weight: 600;
}

.center {
  text-align: center;
}

p.description {
  font-size: 18px;
}

p.clientsconnected {
  color: #5c6370;
  margin-bottom: 20px;
}

div.bar {
    height: 10px;
    background-color: #dc5439;
    margin-left: 20px;
    margin-right: 20px;
}

div.title {
    margin: 20px;
    text-align: center;
    font-size: 30px;
    background-color: #21252b;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 20px;
    padding: 20px;
}

div.metric {
    height: 200px;
    margin: 20px;
    padding-top: 50px;
    font-size: 60px;
    font-weight: 400;
    background-color: #fff;
    color: #21252b;
    font-family: source code pro;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 400;
}

h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 400;
}

table.cpus {
  font-size: 18px;
  margin: 0 auto;
  text-align: left;
  background-color: #282c34;
  border: 2px solid #192021;
  width: 100%;
}

table.cpus td {
  padding: 4px;
  padding-left: 25px;
}

table.cpus th {
  padding: 5px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 22px;
}

td.number {
  color: #92bb75;
}

td.name {
  color: #55b5c1;
}

pre {
  font-size: 14px;
  font-family: 'Source Code Pro', Monaco, courier, monospace;
  font-weight: 400;
  color: #bbb;
  background-color: #282c34;
  border-color: #192021;
  border-width: 2px;
  border-radius: 0px;
  margin-bottom: 30px;
}
div.code-example {
  margin-top: 50px;
  margin-bottom: 100px;
}

span.prompt {
  color: #FF6142;
}
span.code-string {
  color: #98c379;
}
span.code-comment {
  color: #5c6370;
  font-style: italic;
}
span.code-keyword {
  color: #c678dd;
}
span.code-type {
  color: #56b6c2;
}
span.code-number {
  color: #d09965;
}
span.code-constant {
  color: #c678dd;
}
span.code-function {
  color: #61afef;
}

.center {
  text-align: center;
}

.btn-signup.btn-outline {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 25px;
    background: none;
    font-size: 19px;
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    margin: 10px;
    margin-bottom: 40px;
}

.btn-signup.btn-outline:hover, .open > .dropdown-toggle.btn-primary {
    background-color: #fff;
    color: #434343;
}

.btn-signup.outline:active, .btn-primary.btn-outline.active, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
    border: 1px solid #ffffff;
    border-style: solid;
    background: none;
    color: #ffffff;
}

.btn-github.btn-outline {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 25px;
    background: none;
    font-size: 19px;
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    margin: 10px;
    margin-bottom: 40px;
}

.btn-github.btn-outline:hover, .open > .dropdown-toggle.btn-primary {
    background-color: #fff;
    color: #434343;
}

.btn-github.outline:active, .btn-primary.btn-outline.active, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
    border: 1px solid #ffffff;
    border-style: solid;
    background: none;
    color: #ffffff;
}
